@charset "stf-8";

/* CSS RESET */
@import url("ress.css");

body {
    color: #fff;
    font-size: 100%; /* 1rem = 16px */
    background-color: #000;
    font-family: 'M PLUS 1', sans-serif;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    background-color: #333;
}
.header__logo {
    width: 100%;
    text-align: center;
}
.header__logo a {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    color: #fff;
    text-decoration: none;
}
.header__logo img {
    margin-top: 12px;
    width: 80%;
    max-width: 180px;
}
h2 {
    display: block;
    position: relative;
    z-index: 0;
    margin: 24px auto;
    padding: 0 5%;
    width: 90%;
    max-width: 640px;
    color: #fdbc42;
    text-align: center;
    font-size: 2.5rem;
    line-height: 0.7;
    text-shadow: 
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff;
    letter-spacing: 0.2rem;
  }
  h2::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,#fff0,#fffe, #fff0);
  }
.ranking {
    margin: 0 auto 5rem;
    padding: 1rem;
    width: 100%;
    max-width: 640px;
}
.ranking tr {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0.25rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    background-color: #444;
}
.ranking__titles tr {
    border-bottom: solid 2px #e1e1e1;
}
.ranking__items tr:nth-child(1) {
    color: #e00;
}

.ranking__items tr {
    padding: 0.5rem 0 0.5rem 0.5rem;
}
.ranking__items tr:nth-child(1),
.ranking__items tr:nth-child(2),
.ranking__items tr:nth-child(3) {
    font-weight: bold;
}

@media screen and (max-width: 640px) {
    .ranking tr {
       font-size: 1rem;
    }
}